@import '../../styles/variables.scss';

$base-padding: 16px;
$background-color: $color-orange;

.root {
  position: relative;
  display: flex;
  color: white;
}

.left,
.right {
  padding-top: $base-padding;
  padding-bottom: $base-padding;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

.left {
  background: $background-color;
  padding-left: $base-padding;
  padding-right: 2 * $base-padding;
  border-bottom-right-radius: 2 * $base-padding;
}

.middle {
  flex-grow: 1;
  z-index: 1;
  overflow-x: hidden;

  &Inner {
    background: $background-color;
    height: $base-padding;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
  }
}

.right {
  background: $background-color;
  padding-left: 2 * $base-padding;
  padding-right: $base-padding;
  border-bottom-left-radius: 2 * $base-padding;
}
