$color-blue: #00a3b7;
$color-green: #bbd04c;
// $color-orange: #f57520;
$color-orange: #f57520;
// $color-red: #de152b;
$color-red: #de152b;
$color-white: #fff;
$color-black: #000;

$font-header: 'Bubblegum Sans', cursive;
$font-body: 'Nunito', sans-serif;
